[submodule "firmware/pico-sdk"]
	path = firmware/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "firmware/pico-examples"]
	path = firmware/pico-examples
	url = https://github.com/raspberrypi/pico-examples.git
[submodule "firmware/picotool"]
	path = firmware/picotool
	url = https://github.com/raspberrypi/picotool.git